:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    justify-self: center;
    margin: auto;
    margin-top: 2em;
    height: 80vh;
    width: 80vh;
    max-height: 82vh;
    max-width: 82vh;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.gridItem {
    border: .5px solid #ddd;
    text-align: center;
    aspect-ratio: 1;
}

.gridHover {
    background-color: red;
}